.site-footer {
    margin-top: 30px;
    border-top: 2px solid #999;
}

.footer-callout {
	background-color: #ddd;
	padding: 20px;
	margin: 30px 0 0 0;
}

.footer-callout-image {
	float: left;
	width: 30%;
}

.footer-callout-text {
	float: right;
	width: 67%;

	h2 {
		font-size: 1.7em;
		margin: 0 0 .35rem 0;
	}

	p {
		font-size: .9rem;
		
	}
}