body {
	font-family: arial, sans-serif;
	font-size: 14px;
	background: $white;
	margin: 0;
	padding: 0;
}

a:link,
a:visited {
	color: #006ec3;
}

p {
	line-height: 1.65em;
}


/* Main Column */
.main-column {
	width: 66%;
	float: left;
}

.secondary-column {
	width: 30%;
	float: right;
}

/* Footer Widget Area */
.footer-widget-area {
	width: 25%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

h1, h5 {
	transition: all 320ms ease;
	color: #000;
}


/* General Layout */
div.container {
	max-width: 1280px;
	margin:0 auto;
}

article.post {
	border-bottom: 2px dotted #bbbbbb;
	margin-bottom: 20px;
}

article.post:last-of-type {
	border-bottom: none;
}

/* Page Layout */
article.page h2 {
	font-size: 300%;
}

/* Clearfix */
.clearfix:before, .clearfix:after {content:"";display: table;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;}


div.title-column {
	width: 30%;
	float: left;
}

div.text-column {
	width: 70%;
	float: right;
}

/* info box style */
div.info-box {
	width: 30%;
	float:right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #EEE;

	h4 {
		margin-bottom: 6px;
	}

	p {
		font-size: 85%;
	}
}


/* Childrens Links */
.children-links {
	margin-bottom: 20px;
	font-size: 80%;

	a:link, a:visited {
		text-decoration: none;
	}
	
	ul {
		float: left;
	}

	li {
		margin-right: 20px;
	}
}

.children-links .parent-link {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	font-size: 120%;
	font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
	color: #333333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
	border-bottom: 1px solid #000;
	color: #333;
	cursor: default;
}

/* POST Styles */
.post h2 {
	margin-bottom: 0;
}

p.post-info {
	font-size: 87%;
	color: #999;
	margin: 0px;
}
p.post-info a:link,
p.post-info a:visited {
	color: #999;
}

/*  Image Styles */
img {
	max-width: 100%;
	height: auto;
}

/* Search */
div.hd-search {
	float:right;
}

div.hd-search #searchsubmit {
	background-color: #006ec3;
	color:#fff;
	padding: 5px 14px;
	border: none;
	vertical-align: top;
}

div.hd-search #s {
	vertical-align: top;
	padding: 3px;
}

/* Aside Styles */
article.post-aside,
article.post-link {
	font-size: 125%;
	background-color: #FFF5CB;
	padding:20px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}


.mini-meta {
	font-size: 68%;
	margin: 0;
	color: #777;
}

article.post-link {
	padding: 0;
	background-color: #E0EBFF;

}
article.post-link a {
	display: block;
	padding: 20px;

}

/* POST FORMAT GALLERy STYLE */

article.post-gallery img {
	border: none!important;
}

article.post-gallery {
	background-color: #222;
	color: #ffffff;
	padding: 20px;
	border: none;
}

article.post-gallery h2 {
	text-align:center;
}